       body {
           background-color: rgb(25, 25, 25);
           color: white;
       }

       .title {
           font-size: 30px;
           font-weight: bold;
       }

       .move-icon {
           padding: 10px;
           width: 50px;
           height: 50px;
       }

       .move-button:hover {
           transition: 0.2s;
           transform: scale(1.1);
       }

       .move-button {
           background-color: transparent;
           border-radius: 70px;
           border: 2px solid white;
           margin: 0px 6px;
           cursor: pointer;
       }

       .result {
           font-size: 25px;
           font-weight: bold;
       }

       .record {
           margin-top: 50px;
       }

       .reset-record-button {
           background-color: white;
           border: none;
           font-weight: bold;
           font-size: 16px;
           padding: 10px 20px;
           border-radius: 10px;
       }

       .reset-record-button:hover {
           transition: 0.3s;
           transform: scale(1.1);
       }